name: Docker CI Day 37

on:
  push:
    branches:
      - master

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t infra-test:html .

      - name: Run Docker container (test)
        run: docker run -d -p 8282:80 infra-test:html
             sleep 5
             curl http://localhost:8282
